// colors
$background-color-page: #fff;
$background-mobile-menu-page: #ffffffee;
$sky-blue-7fdef5: #7fdef5;
$light-green-7ef5ad: #7ef5ad;
$border-style-page: 1px solid #ddd;
$black: #000;

// container
$max-width-page: 1280px;
$padding-page: 0 15px;

// font
$font-weight-page: 400;
$font-size-page: 16px;
$font-size-paragraph: 14px;
$font-weight-mobile-menu: 600;
$font-size-mobile-menu: 20px;
